<!-- Inside crop.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>KrisiAi- Crop Recommendation</title>
    <link rel="stylesheet" href="/static/images/css/common.css">
    <!-- Additional page-specific styles or links can be added here -->
</head>
<body>
    <a href="/home.html"><img src="/static/images/images/logo.png" alt="KrisiAi Logo" class="logo"></a>
    <div class="back-button">
        <a href="/service.html">Back</a>
    </div>
    <div class="content">
        <form id="cropForm" action="/predict.html" method="post">
            <label for="nitrogen">Nitrogen</label>
            <input type="text" id="Nitrogen" name="Nitrogen" placeholder="Enter value">

            <label for="phosphorus">Phosphorus</label>
            <input type="text" id="Phosphorus" name="Phosphorus" placeholder="Enter value">

            <label for="potassium">Potassium</label>
            <input type="text" id="Potassium" name="Potassium" placeholder="Enter value">

            <label for="temperature">Temperature</label>
            <input type="text" id="Temperature" name="Temperature" placeholder="Enter value">

            <label for="humidity">Humidity</label>
            <input type="text" id="Humidity" name="Humidity" placeholder="Enter value">

            <label for="ph">PH</label>
            <input type="text" id="PH" name="PH" placeholder="Enter value">

            <label for="rainfall">Rainfall</label>
            <input type="text" id="Rainfall" name="Rainfall" placeholder="Enter value">

            <button type="submit">Predict</button>
        </form>
    </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
