<!DOCTYPE html>
<html lang="en">
<head>
    <title>KrisiAi- fertilizer Recommendation</title>
    <link rel="stylesheet" href="/static/images/css/common1.css">
   
    
    <!-- Additional page-specific styles or links can be added here -->
</head>
<body>
    <a href="/home.html"><img src="/static/images/images/logo.png" alt="KrisiAi Logo" class="logo"></a>
    <div class="back-button">
        <a href="/service.html">Back</a>
    </div>
    <div class="content">
        

        <form id="FertiizerForm" action="/predict1.html" method="post">
            <label for="nitrogen">Nitrogen</label>
            <input type="text" id="Nitrogen" name="Nitrogen" placeholder="Enter value ">

            <label for="phosphorus">Phosphorus</label>
            <input type="text" id="Phosphorus" name="Phosphorus" placeholder="Enter value ">

            <label for="potassium">Potassium</label>
            <input type="text" id="Potassium" name="Potassium" placeholder="Enter value ">

            <label for="temperature">Temperature</label>
            <input type="text" id="Temperature" name="Temperature" placeholder="Enter value ">


            <label for="humidity">Humidity</label>
            <input type="text" id="Humidity" name="Humidity" placeholder="Enter value ">

            <label for="moisture">Moisture</label>
            <input type="text" id="Moisture" name="Moisture" placeholder="Enter value ">


            <label for="soilType">SoilType</label>
            <input type="text" id="SoilType" name="SoilType" placeholder="Enter value "> 
            <label for="cropType">CropType</label>
            <input type="text" id="CropType" name="CropType" placeholder="Enter value ">
            <button type="submit"><a href="/predict1.html"> Predict </button></a>
        
    </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
