<!DOCTYPE html>
<html lang="en">
<head>
    <title>KrisiAi-Insecticide Recommendation</title>
    <link rel="stylesheet" href="common2.css">
   
    
    
    <!-- Additional page-specific styles or links can be added here -->
</head>
<body>
    
    <a href="home.html"><img src="logo.png" alt="KrisiAi Logo" class="logo"></a>
    <div class="back-button">
        <a href="service.html">Back</a>
    </div>
     <div class="content">
        

        <form id="InsecticideForm">
            <label for="nitrogen">Nitrogen</label>
            <input type="text" id="nitrogen" name="nitrogen" placeholder="Enter value ">

            <label for="phosphorus">Phosphorus</label>
            <input type="text" id="phosphorus" name="phosphorus" placeholder="Enter value ">

            <label for="potassium">Potassium</label>
            <input type="text" id="potassium" name="potassium" placeholder="Enter value ">

            <label for="ph">Ph</label>
            <input type="text" id="ph" name="ph" placeholder="Enter value ">

            <label for="humidity">Humidity</label>
            <input type="text" id="humidity" name="humidity" placeholder="Enter value ">

            <label for="temperature">Temperature</label>
            <input type="text" id="temperature" name="temperature" placeholder="Enter value ">

            <button type="submit"><a href="predict2.html"> Predict </button></a>
        </form>

        <div id="predictionResult"></div>
        
    </div>
</div>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>


</body>
</html>