<!DOCTYPE html>
<html lang="en">
<head>
    <title>KrisiAi - Fertilizer Predicted Result</title>
   
    <link rel="stylesheet" href="prediction.css"> 
    
</head>
<body>
    <a href="home.html"><img src="logo.png" alt="KrisiAi Logo" class="logo"></a>
    <div class="back-button">
        <a href="fertilizer.html">Back</a>
    </div>
   
    <div class="content">
        <h1>Predicted Fertilizer is:</h1>
        <div class="result-box">
            <p class="result-text"><span id="predictedResult"></span></p>
        </div>
    </div>
</body>
</html>
