<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="service.css">
    
    <title>KrisiAi- Our Services</title>
</head>
<body>
    <a href="home.html"><img src="logo.png" alt="KrisiAi Logo" class="logo"></a>
    <div class="back-button">
        <a href="home.html">Back</a>
    </div>

    <main>
        <!-- Your services content -->
        <h1>Our Services</h1>
        
        <ul>
            <li><a href="/templates/crop.html"> > Crop Recommendation</a></li><br><br>
            <li><a href="fertilizer.html"> > Fertilizer Recommendation</a></li><br><br>
            <li><a href="insecticide.html">> Pest-Insecticides Recommendation</a></li>
            <!-- Add more services if needed -->
        </ul>
    </main>
</body>
</html>
